page {
  background: #f8f8f8;
}
.order-wrp {
  .top {
    height: 78px;
    background: #464347;
    .order-state {
      font-size: 15px;
      height: 44px;
      font-weight: 400;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      .order-icon {
        position: relative;
        top: 2.5px;
        width: 31px;
        height: 31px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .order-content {
    position: relative;
    top: -26px;
    .order-address {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 78px;
      padding-left: 10px;
      background: #fff;
      margin-bottom: 10px;
      border-radius: 20px 20px 0px 0px;

      .select-address {
        display: flex;
        align-items: center;
        width: 105px;
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.87);
        flex: 1;

        .order-icon {
          display: flex;
          width: 30px;
          height: 30px;
          align-items: center;
          justify-content: center;
          background: linear-gradient(
            180deg,
            rgba(250, 177, 68, 1) 0%,
            rgba(252, 142, 89, 1) 100%
          );
          border-radius: 50%;
          margin-right: 8px;

          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .address-des {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;

        .order-icon {
          display: flex;
          flex: 0 0 30px;
          height: 30px;
          align-items: center;
          justify-content: center;
          background: linear-gradient(
            180deg,
            rgba(250, 177, 68, 1) 0%,
            rgba(252, 142, 89, 1) 100%
          );
          border-radius: 50%;
          margin-right: 8px;

          img {
            width: 20px;
            height: 20px;
          }
        }

        .addr-content {
          flex: 1;
          height: 48px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;

          .address-title {
            display: flex;
            font-size: 17px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.87);
            align-items: center;

            .name {
              font-size: 17px;
              font-weight: 400;

              color: rgba(0, 0, 0, 0.87);
              padding-right: 6px;
            }

            .phone {
              font-size: 14px;
              font-weight: 400;

              color: rgba(0, 0, 0, 0.5);
            }
          }

          .but {
            font-size: 11px;
            font-weight: 400;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.87);
          }
        }
      }

      .more {
        width: 15px;
        height: 15px;
        padding: 4px;
        box-sizing: content-box;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .map {
      background: rgba(255, 255, 255, 1);
      border-radius: 20px 20px 0 0;
      margin-bottom: 14px;

      .head-wrp {
        height: 41px;
        display: flex;
        align-items: center;
        padding-left: 14px;

        img {
          width: 14px;
          height: 14px;
          padding-right: 2px;
        }

        p {
          font-size: 13px;
          font-weight: 400;
          line-height: 18px;
          color: rgba(0, 0, 0, 0.87);
        }
      }

      .content-wrp {
        height: 170px;
        position: relative;
        .center {
          width: 34px;
          height: 34px;
          .map-icon {
            width: 100%;
            height: 100%;
          }
        }
      }

      .fot-wrp {
        height: 70px;
        display: flex;
        align-items: center;

        .fot-wrp-right {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 14px;

          .box-phone {
            input {
              font-size: 14px;

              font-weight: 800;
              line-height: 20px;
              color: rgba(0, 0, 0, 0.87);
            }

            .text2 {
              font-size: 11px;

              font-weight: 400;
              line-height: 16px;
              color: rgba(0, 0, 0, 0.5);
            }
          }

          .more {
            img {
              width: 15px;
              height: 15px;
            }
          }
        }

        .fot-wrp-left {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-right: 1px solid rgba(112, 112, 112, 0.1);
          padding: 0 14px;

          .box-time {
            .text1 {
              font-size: 14px;

              font-weight: 800;
              line-height: 20px;
              color: rgba(0, 0, 0, 0.87);
            }

            .text2 {
              font-size: 11px;

              font-weight: 400;
              line-height: 16px;
              color: rgba(0, 0, 0, 0.5);
            }
          }

          .more {
            img {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }

    .order-bast-info-area {
      background: rgba(255, 255, 255, 1);
      height: 130px;
      .order-des {
        height: 100%;
        padding: 18px 14px;
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        .order-title {
          height: 21px;
          font-size: 15px;
          font-weight: 400;
          line-height: 21px;
          color: rgba(33, 33, 33, 1);
        }
        .order-id,
        .order-create-time {
          height: 18px;
          font-size: 13px;
          font-weight: 400;
          line-height: 18px;
          color: rgba(120, 120, 120, 1);
        }
      }
    }

    .refunded {
      margin: 14px 10px;
      margin-top: 0;
      height: 41px;
      background: rgba(255, 255, 255, 1);
      border-radius: 10px;
      display: flex;
      align-items: center;
      position: relative;
      .tip-icon {
        position: absolute;
        left: 0;
        top: 10.5px;
        width: 4px;
        height: 21px;
        background: linear-gradient(
          180deg,
          rgba(250, 177, 68, 1) 0%,
          rgba(252, 142, 89, 1) 100%
        );

        border-radius: 0px 3px 3px 0px;
      }

      p {
        padding-left: 8px;
        flex: 1;
        font-size: 13px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.87);
      }

      div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 4px;
        box-sizing: border-box;

        span {
          font-size: 13px;
          font-weight: 400;
          color: rgba(38, 166, 255, 0.87);
        }
        img {
          width: 10px;
          height: 10px;
        }
      }
    }

    .order-price-info {
      background: #fff;
      margin: 14px 0;
      .fee-info,
      .coupon-info {
        height: 90px;
        border-bottom: 1px solid #f2f2f2;
        padding: 0 14px;
        .item {
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .label {
            font-size: 13px;
            font-weight: 400;
            line-height: 18px;
            color: rgba(120, 120, 120, 1);
          }
          span {
            font-size: 13px;
            font-weight: bold;
            line-height: 18px;
            color: rgba(33, 33, 33, 1);
          }
        }
      }
      .has-gift {
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 12px;
        position: relative;
        border-bottom: 1px solid #f2f2f2;

        .gift-content {
          display: flex;
          align-items: center;
          flex: 1;

          .coupon-card-icon {
            width: 30px;
            height: 30px;
            background: linear-gradient(
              180deg,
              rgba(248, 118, 183, 1) 0%,
              rgba(252, 89, 89, 1) 100%
            );
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 6px;

            img {
              width: 22px;
              height: 22px;
            }
          }

          .coupon-card-info {
            .title {
              font-size: 15px;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.87);
            }

            .des {
              font-size: 11px;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.6);
            }
          }
        }
        .has-choose {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex: 0 0 68px;
          .select-state {
            margin-left: 6px;
            width: 20px;
            height: 20px;
            background: linear-gradient(
              179deg,
              rgba(244, 186, 28, 1) 0%,
              rgba(255, 159, 30, 1) 100%
            );
            box-shadow: 0px 1px 6px rgba(255, 159, 30, 0.5);
            border-radius: 50%;
          }

          img {
            position: relative;
            top: 3px;
            left: 2px;
            width: 28px;
            height: 28px;
          }
        }
      }
      .order-total-price {
        height: 62px;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        padding: 0 14px;
        line-height: 62px;
        background: #fff;
        .tip {
          color: #212121;
          font-size: 13px;
          margin-right: 6px;
        }
        .price {
          color: #fd5200;
          font-size: 19px;
        }
      }
    }
    .order-footer {
      height: 193px;
      background: #fff;
      .note {
        padding-left: 10px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.87);
        line-height: 55px;
        height: 55px;
        border-bottom: 1px solid rgba(242, 242, 242, 1);
      }
      .feedback-msg {
        height: 16px;
        font-size: 11px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(120, 120, 120, 1);
        text-align: center;
        padding-top: 28px;
      }
    }
    .food-content {
      margin-bottom: 14px;
      background: #fff;

      .order-top {
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-bottom: 1px solid #f2f2f2;
        padding: 0 14px;

        .flex-left {
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            width: 21px;
            height: 21px;
            background: #ccc;
            border-radius: 5px;
            margin-right: 5px;
          }

          p {
            font-size: 15px;
            font-weight: bold;
            line-height: 21px;
            color: rgba(33, 33, 33, 1);
          }
        }

        .flex-right {
          display: flex;
          align-items: center;
          justify-content: space-between;

          img {
            width: 10px;
            height: 10px;
          }

          p {
            font-size: 11px;
            font-weight: 400;
            line-height: 16px;
            color: rgba(33, 33, 33, 1);
          }
        }
      }

      .order-foods {
      }
    }
  }
  .order-handle-area {
    position: fixed;
    bottom: 26px;
    width: 100%;
    .order-wrp-state {
      display: flex;
      justify-content: space-between;
      padding: 0 14px;
      border-radius: 55px;
      font-size: 17px;
      font-weight: 400;
      line-height: 50px;
      color: rgba(165, 165, 165, 1);
      text-align: center;
      .left-button {
        width: 168px;
        height: 50px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        color: #a5a5a5;
      }

      .right-button {
        width: 168px;
        height: 50px;
        background: linear-gradient(
          90deg,
          rgba(255, 159, 30, 1) 0%,
          rgba(246, 119, 15, 1) 100%
        );
        box-shadow: 0px 3px 10px rgba(246, 119, 15, 0.4);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;

        .parment {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .kefu-btn {
      width: 323px;
      height: 50px;
      background: linear-gradient(
        270deg,
        rgba(250, 177, 68, 1) 0%,
        rgba(252, 142, 89, 1) 100%
      );
      box-shadow: 0px 8px 20px rgba(254, 168, 53, 0.55);
      border-radius: 25px;
      font-size: 19px;
      font-weight: 400;
      line-height: 50px;
      color: rgba(255, 255, 255, 1);
      text-align: center;
      margin: 0 auto;
    }

    button {
      height: 100%;
      color: #fff;
      line-height: 50px;
      background-color: rgba(0, 0, 0, 0);
    }

    button::after {
      border: none;
    }
  }
  .opt-oncancel {
    .options-list {
      background: #fff;
      width: 375px;
      border-radius: 20px 20px 0px 0px;
      overflow: hidden;
      .opt-item {
        height: 57px;
        background: rgba(255, 255, 255, 1);
        margin: 0 auto;
        text-align: center;
        line-height: 57px;
        border-bottom: 1px solid rgba(242, 242, 242, 1);
      }

      .cancel {
        height: 56px;
        margin: 0 auto;
        text-align: center;
        line-height: 50px;
        border: 1px solid #fff;
        color: #a5a5a5;
      }
    }
  }
}
